@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    min-height:100vh;
    margin:0;
    display:grid;
    place-items:center;
    font-family:'Poppins',sans-serif;
    background-color:#f1f8ff;
}

.con{
    padding:20px;
    width:85%;
    max-width:500px;
    border:5px solid #15173D;
    border-radius:30px;
    text-align:center;
    background-image:linear-gradient(
        to right,
        rgba(0,100,200,0.15),
        rgba(0,150,150,0.15)
    );
    box-shadow:0 8px 20px rgba(21,23,61,0.3);

    letter-spacing:clamp(0.1rem,2vw,0.3rem);
    word-spacing:clamp(0.2rem,4vw,0.6rem);

    transition:background-color 0.5s ease,
               box-shadow 0.5s ease;
}

@media (max-width:900px){
    #h{
        font-size:20px;
    }
}
