 @import url('https://fonts.googleapis.com');

body {
    margin: 0;
    height: 100vh;
    justify-items: center;
    align-content: center;
    text-align: center;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}

.con {
    width: auto ;
    height: auto;
    padding: 20px;
    border: 4px solid #15173D;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(0, 100, 200, 0.1);
    filter: brightness(1.2);
            
}

.con:hover {
    box-shadow: 0px 0px 6px 3px black;
    background-color: rgba(0, 150, 150, 0.1);
}

.tt {
    font-size: 20px;
    font-weight: bold;
    color: #15173D;
    text-shadow: 3px 3px 2px #116dc2;
    letter-spacing: 1.5rem;
}

.count {  
    font-size: 40px;
    color: #15173D;
    text-shadow: 3px 2px 5px rgb(120,120,120);
}

button {
    padding: 10px;
    width:130px;
    margin: 10px;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #09637E;
    box-shadow: 3px 3px 2px 1px #7AB2B2;
}

.btns {
    justify-content: space-between;
    display: flex;
}
button:hover {
    background-color: #7AB2B2;
    color: black;
    box-shadow: 5px 5px 3px 3px cyan;
}