@import url('https://fonts.googleapis.com');


body {
    margin: 0;
    height: 100vh;

    justify-items: center;
    align-content: center;
    place-items: center;
    font-family: 'Poppins', sans-serif;
}

.con {
    padding: 20px;
    width: 50%;
    border: 4px solid #15173D;
    border-radius: 30px;
    text-align: center;
    box-shadow: 10px 10px 6px 3px #15173D;
    background-image: linear-gradient(to right,
            rgba(0, 100, 200, 0.1),
            rgba(0, 150, 150, 0.1));

    filter: brightness(1.2);
    letter-spacing: 1rem;
    word-spacing: 2rem;
    transition: all 0.5s ease;
}

.con:hover {
    background-color: rgba(126, 249, 249, 0.2);
    box-shadow: 10px 10px 6px 3px rgb(19, 119, 119);
}

.tt {
margin:10px;
    font-size: 30px;
    font-weight: bold;
    color: #15173D;
    text-shadow: 4px 4px 3px #116dc2;
}


#t1,#t2,#t3{
    opacity: 1;
    transition: all 3s ease;
    text-shadow: 4px 4px 3px #116dc2;

}
#t1.fade-out {
    opacity: 0;
    text-shadow:80px -15px 3px #ffffff;
}
#t2.fade-out {
    opacity: 0;
    text-shadow:0px 15px 3px #ffffff;
}
#t3.fade-out {
    opacity: 0;
    text-shadow:80px -15px 3px #ffffff;
}

.count {
    font-size: 60px;
    color: #15173D;
}

.btns {

    justify-content: space-between;
    gap: 10px;
}

button {
    padding: 10px;
    width: 300px;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
    border:none;

    font-size: 30px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(90deg,#0581a7,#030bb3);
    margin:20px;
    box-shadow: 3px 3px 2px 1px #467c7c71;
    transition: all 0.5s ease;
}

button:hover {
    background-image: linear-gradient(75deg,#4850e9, #4bc5ea);
    color: black;
    text-shadow:2px 2px 5px #09637E;
    box-shadow: 3px 3px 3px 3px #265959;
}

button:active {
  transform: translate(3px,5px);
  box-shadow: 3px 3px 3px 5px #265959;
}