@import url('https://fonts.googleapis.com');


body {
    
    height: 100vh;
    justify-items: center;
    align-content: center;
    place-items: center;
    font-family: 'Poppins', sans-serif;
}


.con {
    padding: 10px;
    width: 60%;
    border: 5px solid #15173D;
    border-radius: 30px;
    text-align: center;
    box-shadow: 10px 10px 6px 3px #15173D;
    background-image: linear-gradient(to right,
            rgba(0, 100, 200, 0.1),
            rgba(0, 150, 150, 0.1));

    filter: brightness(1.5);
    letter-spacing: 1rem;
    word-spacing: 2rem;
    transition: all 0.5s ease;
}

.con:hover {
    background-color: rgba(126, 249, 249, 0.2);
    box-shadow: 10px 10px 6px 3px rgb(19, 119, 119);
}

.tt {

    font-size: 25px;
    font-weight: bold;
    color: #050fd0;
    border-radius:30px;
}
#h{
    padding:10px;
    border-radius:50px;

}

#t1,#t2,#t3{
    opacity: 1;
    transition: all 4s ease;
    text-shadow: 4px 4px 2px #3f9df5;
}
#t1.fade-out {
    opacity: 0;
    text-shadow:80px -15px 3px #ffffff;
}
#t2.fade-out {
    opacity: 0;
    text-shadow:80px -15px 3px #ffffff;
}
#t3.fade-out {
    opacity: 0;
    text-shadow:80px -15px 3px #ffffff;
}

.count {
    text-align:center;
    font-size: 70px;
    color: #252a7c;
}


.btns {

    justify-content: space-between;
    gap: 10px;
}     

button {
    padding: 10px 20px;
    width: 200px;
    margin: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    border:none;
    font-size: 35px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(90deg,#0581a7,#030bb3);
    box-shadow: 3px 3px 2px 1px #0080ff;
    transition: all 0.5s ease;
}

button:hover {
    background-image: linear-gradient(75deg,#4850e9, #4bc5ea);
    color: black;
    text-shadow:2px 2px 5px #09637E;
    box-shadow: 3px 3px 3px 3px #265959;
}

button:active {
  transform: translate(3px,5px);
  box-shadow: 3px 3px 2px 5px #265959;
}