@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    height: 100vh;

    justify-items: center;
    align-content: center;
    place-items: center;
    font-family: 'Poppins', sans-serif;
}

.con {
    padding: 20px;
    width: 50%;
    border: 4px solid #15173D;
    border-radius: 30px;
    text-align: center;
    box-shadow: 10px 10px 6px 3px #15173D;
    background-image: linear-gradient(to right,
            rgba(0, 100, 200, 0.1),
            rgba(0, 150, 150, 0.1));

    filter: brightness(1.2);
    letter-spacing: 1rem;
    word-spacing: 2rem;
    transition: all 0.5s ease;
}

.con:hover {
    background-color: rgba(0, 150, 150, 0.2);
    box-shadow: 10px 10px 6px 3px rgb(19, 119, 119);
}

.tt {
    font-size: 30px;
    font-weight: bold;
    color: #15173D;
    text-shadow: 3px 3px 2px #116dc2;
}

#h {
    opacity: 1;
    transition: opacity 1s ease;
}

#h.fade-out {
    opacity: 0;
}

.count {
    font-size: 40px;
    color: #15173D;
    text-shadow: 3px 2px 5px rgb(120, 120, 120);
}

.btns {

    justify-content: space-between;
    gap: 10px;
}

button {
    padding: 10px;
    width: 150px;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;

    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #09637E;

    box-shadow: 3px 3px 2px 1px #467c7c;
    transition: all 0.3s ease;
}

button:hover {
    background-image: linear-gradient(to right, cyan, #4fd1c5);
    color: black;
    box-shadow: 3px 3px 2px 2px #265959;
}